/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBack {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("./palbanner.png") no-repeat 50% 60%;
  background-size: 100%;
  -webkit-text-stroke: 1px black;
  text-shadow: 2px 2px black;
  z-index: -1;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.heroBanner {
  padding: 15rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: transparent;
  color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: 2px 2px black;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 0px white;
  text-shadow: 0px 0px white;
}
