.table-icon-container {
    position: relative !important;
    height: 100%;
}

.table-with-icons > table td:first-child
{
    padding: 0;
    width: 89px;
    height: 89px;
}

.table-with-icons > table
{
    overflow: hidden;
}

.table-with-icons > td.p {
    margin: 0;
    align-self: center;
}

.table-with-icons > td.img {
    width: 64px;
    height: 64px;
    vertical-align: middle;
}

.table-with-icons > tbody {
    overflow-y:auto;
    width: 100%;
}

.pal-icon-container {
    position: relative !important;
    height: 100%;
}

.table-icon {
    position: absolute !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pal-boss-icon {
    position: absolute !important;
    top: 0;
    left: 0;
}

.pal-raid-icon {
    position: absolute !important;
    top: 0;
    left: 0;
    filter: hue-rotate(260deg) brightness(150%)
}

.pak-container {
    display: flex;
    flex-direction: column;
    width: max-content;
    row-gap: 10px;
    margin-bottom: 25px;
}

.pak-container code {
    padding: 4px;
}